/celular_abstract_factory/target/
/celularMethodFactory/target/
/singleton/target/
/Practica_builder/build/
/Practica_builder/nbproject/private/
/Bridge/target/
/practica_adapter/target/
/Composite/target/
/FlyweightPattern/nbproject/private/
/FlyweightPattern/build/
/FlyweightPattern/target/
/Proxy/nbproject/private/
/Proxy/build/
/ProxyPattern/target/
/Practica_facade/build/
/Practica_facade/nbproject/private/
/Observer/nbproject/private/
/Observer/build/
/observer/target/
/Practica_decorator/nbproject/private/
/Practica_decorator/build/
/Iterator/target/
/Interpreter/target/
